<template>
  <div class="flex justify-center py-8">
    <div class="bg-purple-100 w-9/12 flex flex-col">
      <div
          v-for="(newObject, index) in news"
          :key="index"
      >
        <NewsComponent :title="newObject.title" :id="newObject.id" />
      </div>
    </div>
  </div>
</template>

<script>
import { collection, getDocs, onSnapshot} from 'firebase/firestore'
import NewsComponent from "../components/NewsComponent.vue";
import {db} from "../firebase";
import {newsObjectList} from "../firebase/News";
import {onMounted, ref} from "vue";

export default {
  name: "NewsPage",
  components: {NewsComponent},

  data() {
    return {
      news: []
    }
  },

  mounted() {
    onSnapshot(collection(db, 'news'), (querySnapShot) => {
      const newsObjectList = []
      querySnapShot.forEach((doc) => {
        const newsObject = {
          id: doc.id,
          title: doc.data().title,
          content: doc.data().content
        }
        newsObjectList.push(newsObject)
      })
      this.news = newsObjectList
    })
  }
}

</script>

<style scoped>

</style>