<template>
  <div class="flex justify-center py-8">
    <div class="w-9/12">
      <NewObjectView v-if="newsObject" :title="newsObject.title" :context="newsObject.content" />
    </div>
  </div>
</template>

<script>

import {collection, onSnapshot} from "firebase/firestore";
import {db} from "../firebase";
import NewObjectView from "../components/NewObjectView.vue";

export default {
  name: "NewsObjectPage",
  components: {NewObjectView},
  data(){
    return{
      newsId: "",
      newsObject: null,
    }
  },

  mounted() {
    console.log("hello")
    this.newsId = this.$route.params.id
    onSnapshot(collection(db, 'news'), (querySnapShot) => {
      querySnapShot.forEach((doc) => {
        if (this.newsId === doc.id){
          const newsObjectItem = {
            id: doc.id,
            title: doc.data().title,
            content: doc.data().content
          }
          this.newsObject = newsObjectItem
        }
      })
    })
    console.log("bue")
  }
}
</script>

<style scoped>

</style>