<template>
  <div class="flex flex-col">
    <div class="p-4">
      <img alt="Vue logo" class="logo" src="@/assets/logo.svg" width="90" height="90" />
    </div>
    <div>
      <nav class="flex justify-around text-2xl text-white p-4 bg-violet-600">
        <RouterLink class="hover:underline" to="/">Home</RouterLink>
        <RouterLink class="hover:underline" to="/about">About</RouterLink>
        <router-link class="hover:underline" to="/news">News</router-link>
      </nav>
    </div>
  </div>
</template>

<script>
export default {
  name: "Header"
}
</script>

<style scoped>

</style>