<template>
  <div class="bg-violet-400 flex flex-col p-4 rounded-lg shadow-lg">
    <h1 v-if="title" class="font-bold text-white text-2xl pb-4">
      {{ title }}
    </h1>
    <p v-if="context" class="bg-white rounded-lg p-2">
      {{ context }}
    </p>
  </div>
</template>

<script>
export default {
  name: "NewObjectView",

  props: {
    title: {
      type: String,
      required: true,
      default: ''
    },
    context: {
      type: String,
      required: true,
      default: ''
    }

  }
}

</script>

<style scoped>

</style>