<template>
  <div class="bg-purple-200 m-2 p-2 rounded-md flex flex-rows justify-between shadow-md">
    <div class="font-bold text-xl">
      {{ title }}
    </div>
    <div class="flex flex-rows">
      <div class="hover:underline" @click="redirectToNewsObjectPage">
        buttonText
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "NewsComponent",

  props:{
    title: {
      type: String,
      default: "",
      required: true
    },
    id: {
      type: String,
      default: "",
      required: true
    }
  },

  mounted() {
  },

  methods: {
    redirectToNewsObjectPage(){
      window.location.href = window.location.href + "/" + this.id
    }
  }

}
</script>

<style scoped>

</style>