<script setup>
import { RouterLink, RouterView } from 'vue-router'
import Header from "./components/Header.vue";
</script>

<template>
  <div class="page">
    <Header/>
    <RouterView/>
  </div>
</template>

<style scoped>
@media (min-width: 1024px) {
  .page {
    min-height: 101vh;
  }
}

</style>
